<h1>Diseases#index</h1>
<p>Find me in app/views/diseases/index.html.erb</p>

<div>
<h4>Import data</h4>
	<%= form_tag diseases_import_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import CSV" %>
	<% end %>
</div>
